.sort {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 1px solid #f0f0f0;
}
.btn-link {
  color: #000;
}
.btn-link:hover {
  color: #007bff;
  text-decoration: none;
}
.active {
  color: #007bff;
  text-decoration: underline;
}
